.content
{
    background-image: url(./media/black-prism-concept-ai-generated.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

.header h1
{
    padding-top: 40px;
    background: #424EB1;
    background: linear-gradient(to right, #424EB1 20%, #FE1A16 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-container
{
    border: solid;
    border-radius: 10px;
    margin-top: 20px;
    background-image: url(./media/pattern.jpg);
}

.math-img
{
    margin-top: 40px;
    padding-bottom: 300px;
}

.noise-borders
{
    background-image:url(./media/ColdToHot.png);
}